.main a{
	color: green;
	font-size: 22px;
}
li a {
	color: blue;
	font-size: 22px;
}
h1 {
	border:10px,10px,10px,10px;
	border-color:#4AC20E;
    border-style:solid;
}
.image-one{
	padding-right: 25px;

}
img{
	padding-left: 25px;
}