.main a{
	color: green;
	font-size: 22px;
}
li a {
	color: blue;
	font-size: 22px;
}
h1 {
	border:10px,10px,10px,10px;
	border-color:#4AC20E;
    border-style:solid;
}
.image-one{
	padding-right: 25px;

}
img{
	padding-left: 25px;
}
p{
	color: blue;
}
h6{
	color: blue;
	width: 75px;
	border-bottom: 3px;
	border-left-width: 0px;
    border-right-width: 0px;
    border-top-width: 0px;
    border-color: blue;
    border-style: groove;
    font-size: 15px;
}
h5{
    padding-left: 300px;
    padding-top: 200px;

}